body{
  margin: 0 auto;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}
.container {
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  width: 1150px;
}

.setting__title {
  margin-bottom: 42px;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mems__title,
.top-text__title,
.bottom-text__title {
  margin-bottom: 13px;
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.preview__title {
  margin-bottom: 76px;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mem-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 42px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  background-image: url(/resourec/Polygon\ 1.png);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
}

.top-text-input {
  margin-bottom: 54px;
  padding: 10px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  color: #000;
}

.bottom-text-input {
  padding: 10px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
}

.preview__content-container {
  position: relative;
}

.top-text {
  position: absolute;
  top: 22px;
  left: 133px;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom-text {
  position: absolute;
  bottom: 30px;
  left: 133px;
  color: #FFF;
}