body{
  margin: 0 auto;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}
.container {
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  width: 1150px;
}
@media (max-width: 1199px) {
  .container {
    margin-bottom: 120px;
    padding-top: 120px;
    width: 100%;
  }
}
@media (max-width: 999px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px;
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .setting__container {
    width: 100%;
  }
  .preview__container {
    width: 100%;
  }
  .preview__content-container {
    width: 100%;
  }
}


.setting__title {
  margin-bottom: 42px;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1199px) {
  .setting__title {
    margin-bottom: 35px;
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .setting__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.mems__title,
.top-text__title,
.bottom-text__title {
  margin-bottom: 13px;
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1199px) {
  .mems__title,
  .top-text__title,
  .bottom-text__title {
    margin-bottom: 10px;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .mems__title,
  .top-text__title,
  .bottom-text__title {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.preview__title {
  margin-bottom: 76px;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1199px) {
  .preview__title {
    margin-bottom: 35px;
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .preview__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.mem-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  margin-bottom: 42px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  background-image: url(/resourec/Polygon\ 1.png);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
}
@media (max-width: 1199px) {
  .mem-select {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .mem-select {
    width: 100%;
    margin-bottom: 30px;
  }
}


.top-text-input {
  margin-bottom: 54px;
  padding: 10px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  color: #000;
}
@media (max-width: 1199px) {
  .top-text-input {
    margin-bottom: 40px;
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .top-text-input {
    width: 100%;
    margin-bottom: 32px;
  }
}


.bottom-text-input {
  padding: 10px;
  width: 393px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
}
@media (max-width: 999px) {
  .bottom-text-input {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .bottom-text-input {
    width: 100%;
    margin-bottom: 28px;
  }
}

.preview__content-container {
  position: relative;
}

.top-text {
  position: absolute;
  padding: 0 20px;
  top: 22px;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-break: break-all;
}
@media (max-width: 767px) {
  .top-text {
    top: 22px;
    left: 90px;
    font-size: 28px;
  }
}

.mems__img {
  width: 500px;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .mems__img {
    width: 100%;
    object-fit: contain;
  }
}

.bottom-text {
  position: absolute;
  padding: 0 20px;
  bottom: 30px;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-break: break-all;
}
@media (max-width: 767px) {
  .bottom-text {
    bottom: 30px;
    left: 90px;
    font-size: 28px;
  }
}